// main: styles.less

.projects-container{
  width: 80%;
  margin: auto;
  flex-direction: column;
}

.project-card{
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: @size-huge;
  background: @color-white;
  box-shadow: 
    0 50px 100px rgba(50,50,93,.05), 
    0 15px 35px rgba(50,50,93,.1), 
    0 5px 15px rgba(0,0,0,.1);
  overflow: hidden;
}

.card-image{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 40%;
}

.card-content{
  width: 50%;
  padding: @size-xxl;
  padding-left: @size-huge;
  z-index: 2;
  background: @color-white;
  // text-align: justify;
}

.card-title-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: @size-xxl;
}

.card-title{
  font-family: @font-header;
  font-size: @size-l;
}

.card-button-wrapper{
  display: flex;
  justify-content: flex-end;
}

.card-button-wrapper > a {
  text-decoration: none;
  font-size: .8rem;
  font-weight: 600;
  padding: @size-s;
  margin-left: @size-s;
  border-radius: 5px;
  color: #00b0e4;
}

@media (hover: hover) {
  .card-button-wrapper > a:hover{
    color: @color-grey;
  }
}

.chip-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-top: @size-xxl;
}

.card-chip{
  color: @color-grey;
  font-size: @size-s;
  padding: @size-xs;
  border: 1px @color-grey-light solid;
  border-radius: 5px;
  margin: @size-s @size-xs 0 0;
}

@media only screen and (max-width: 1150px){
  .card-image{
    max-width: 50%;
  }
}

@media only screen and (max-width: 1020px) {
  .card-content{
    width: 100%;
    padding: @size-xxl;
    z-index: 2;
    background: @color-white;
    // text-align: justify;
  }

  .card-image{
    display: none;
  }

  .card-title{
    font-size: @size-m;
    margin-bottom: @size-m;
  }

  .card-button-wrapper > a {
    font-weight: 600;
    padding: @size-xs;
  }

  // Removes margin from first button
  .card-button-wrapper > a:nth-child(1){
    margin-left: 0px;
  }

  .card-title-row{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-bottom: @size-l;
  }

  .chip-wrapper{
    margin-top: @size-m;
  }

  .card-chip{
    padding: @size-xs/2;
    border: 0px @color-grey-light solid;
    margin: @size-xs/2 0 0 0;
  }
}

@media only screen and (max-width: 1150px){
  .card-button-wrapper > a {
    padding: @size-xs/1.5;
    margin-left: @size-xs;
  }
}